body {
  font: 14px helvetica;
  
}

svg {

}

section {
  padding: 5px;
  position: relative;
}

h3 {
  margin: 5px 0;
}

.sum {
  font-size: 13px;
  margin: 10px 0;
}
.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #333;
  font-size: 11px;
}

.brush .extent {
  stroke: #CCC;
  fill: #BBB;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}
.selected {
  fill: #78C656;
}

.tip {
  width: 100px;
  text-align: center;
  color: #EEE;
  border: 1px solid #eee;
  /*text-anchor: middle;*/
  position: absolute;
  opacity: 0;
  background-color: #555;
  padding: 5px;
  margin: 0;
  font-size: 12px;
}

.tip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  width: 0; height: 0;
  border-top: 4px solid #555;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.tip .title {
  font-weight: bold;
  margin-bottom: 2px;
} 

.tip img {
  display: block;
  height: 70px;
  margin: 2px auto;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}