body {
  font: 14px helvetica;
  
}

svg {

}

.row {
  padding: 5px;
  position: relative;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #333;
  font-size: 11px;
}

.brush .extent {
  stroke: #CCC;
  fill: #BBB;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}
.selected {
  fill: #78C656;
}

.tip {
  width: 100px;
  text-align: center;
  color: #EEE;
  border: 1px solid #eee;
  /*text-anchor: middle;*/
  position: absolute;
  opacity: 0;
  background-color: #555;
  padding: 5px;
  margin: 0;
  font-size: 12px;
}
.tip .title {
  font-weight: bold;
  margin-bottom: 2px;
} 

.tip img {
  display: block;
  height: 100px;
  margin: 2px auto;
}